<body>
  <a href="/">Home</a> <!-- Added Home link -->
  <a href="/car">All Cars</a>
  <h1><%= car.name %></h1>

  <% if (car.isReadyToGo) { %>
    <p>This car is ready to go.</p>
  <% } else { %>
    <p>This car is not ready to go.</p>
  <% } %>

  <form action="/car/<%= car._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete <%= car.name %></button>
  </form>

  <a href="/car/<%= car._id %>/edit">Edit <%= car.name %></a>
</body>
